data/
TMP/
Debug/
ipch/
Blocks.sdf
Blocks.opensdf
Test
reports/
color_zone.opensdf
color_zone.sdf
.vs/Blocks/v14/.suo
.vs/color_zone/v14/.suo
color_zone.aps
Release/
Blocks.VC.db
color_zone.VC.VC.opendb
color_zone.VC.db
update.bat
